/*Trademark*/
 .scoop{
	height: 300px;
	background-color: 
 }
 P#scoop-txt{
 	text-align: center;
 	font-size: 22px;
 	font-weight: bold;
 	margin-top: 60px;
 }
 p#scoop-txt-nachos{
 	font-size: 18px;
 	margin-left: 50px;
 	margin-right: 50px;
 }
 img#img-scoop{
 	margin-top: 40px;
 }
 img#img-scoop-1{
 	margin-top: 40px;
 	margin-left: 120px;
 }
 /* Services */
 .btn-service{
	font-size: 20px;
	font-weight: bold;
	color: black;
	background-color: #E7E3E3
}
.body-service{
	margin-top: 60px;
	color: black;
	margin-left: 250px;
	margin-right: 250px;
}
p#title-service{
	text-align: center;
	font-size: 40px;
	font-weight: bold;
}
p#title-service-1
	{font-size: 22px;
	font-weight: bold;
	margin-top: 30px;
}
p#title-service-2{
	margin-top: 20px;
	font-size: 18px;
	line-height: 1.5;
}
p#title-service-3{
	text-align: center;
	font-size: 40px;
	font-weight: bold;
	color: white;
}
p#title-service-5{
	margin-top: 20px;
	color: white;
	text-align: center;
	font-size: 22px;
}
.body-history{
	margin-left: 300px;
	margin-right: 300px;
	text-align: center;
	color: black;
}
.body-txt-history{
	margin-left: 200px;
	margin-right: 200px;
	text-align: center;
	color: black;
}
p#txt-history{
	margin-top: 20px;
	text-align: center;
	font-size: 20px;
}
p#txt-h6{
	margin-top: 20px;
	text-align: center;
	font-size: 26px;
	font-weight: bold;
}
.download-history{
	height: 45px;
    margin-left: 20px;
    background-color: #fff;
    font-size: 22px;
    text-align: center;
}
.button-down-history{
	text-align: center; margin-top: 30px; margin-bottom: 30px;
	margin-left: 300px;background-color: #fff;
}
.button-mail-history{
	text-align: center; margin-top: 30px; margin-bottom: 30px; margin-left: 100px;}
	li#text-list-history{
	text-align: left;
	font-size: 18px;
	margin-top: 20px;
}
p#txt-history-6{
	color: white;
	text-align: center;
	font-size: 18px;
	margin-bottom: 10px;
}
p#txt-thuonghieu{
    font-size: 20px;
    margin-left: 350px;
    margin-right: 350px;
    text-align: center;
    margin-bottom: 30px;
}